<!DOCTYPE html>

<html>

<head>
  <% include partials/header %>
</head>

<body>

  <div class="jumbotron">
    <h1>IMGEER</h1>
  </div>

  <div class="container">

    <div class="row">

      <!--Single image-->
      <div class="col-sm-4" id="image">
        <h1>SINGLE IMAGE</h1>
      </div>

      <!-- Image table-->
      <div class="col-sm-8" id="images">
        <h1>MULTIPLE IMAGES</h1>
      </div>

    </div>
  </div>


</body>

</html>
